{% extends 'my_resume/base.html' %}

{% load static %}

{% block content %} 

<div>

    <div class="pt-5 mt-5 mx-5 flex flex-col justify-center item-start mx-auto" >

        <!-- <div class="text-center mt-5 ">
            <img src="{% static 'my_resume/img/153951891_2489577691338939_5354500092724276782_n.jpg' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
        </div> -->
        <h1 class="text-dark mb-10 border-bottom text-center">About</h1> 

        <div class="mx-5 mt-5 ">
            <div class="px-4">
                <h5 style="line-height: 1.8; text-indent: 80px;">
                    Hi there I am a Python/Django Web developer,
                    I have been a programming enthusiast since my days at high school To pursue my interest further I majored in Computer Science,
                    I am complete my diploma from Patuakhali polytechnic institute on computer science.
                    
                </h5>
                <h5 style="line-height: 1.8; text-indent: 80px;" >
                    I have worked on many projects from e-commerce to blogging websites.
                    My working experience  skills  Html, Bootstrap, CSS, Python framework Django, Sqlite3, Mysql, PostgreSQL.
                </h5>
            </div>
        </div>

    </div>

    <!-- <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="" class="btn btn-outline-info my-3">Contect</a>

    </div> -->



</div>


{% endblock content %}