{% extends 'my_resume/base.html' %}

{% load static %}

{% block content %} 

<div>

    <div class="pt-5 mt-5 mx-5 flex flex-col justify-center item-start mx-auto" >

        <!-- <div class="text-center mt-5 ">
            <img src="{% static 'my_resume/img/153951891_2489577691338939_5354500092724276782_n.jpg' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
        </div> -->
        <h1 class="text-dark mb-10 border-bottom text-center">About</h1> 

        <div class="mx-5 mt-5 ">
            <div class="px-4">
                <p >
                    Hi there I am a Rifat,
                </p>
                <p >
                    I have been a programming enthusiast since my days at high school to pursue my interest further I majored in Computer Technology,
                    I am complete my Diploma from Patuakhali polytechnic institute on Computer Technology.
                    
                </p>
                <p  >
                    I have worked on many projects from blogging to e-commerce websites.
                    My working experience  skills  Html, CSS, JavaScript, Python, Django, PostgreSQL.
                </p>
            </div>
        </div>

    </div>

    <!-- <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="" class="btn btn-outline-info my-3">Contect</a>

    </div> -->



</div>


{% endblock content %}