{% load static %}

<div class="border-right border border-light h-100 ">
    <div class="text-center">
        <img src="{% static 'my_resume/img/153951891_2489577691338939_5354500092724276782_n.jpg' %}" alt="profilipic" class="img-fluid rounded-circle mt-5">
        <h1 class="mt-3 ppt-font"> Rifat Jamil </h1>
        <h5 class="mt-5 pt-font" style="color: gray;">  Backend <b style="color:#048c58; font-size: 30px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;">Django</b> Web Developer</h5>

    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center ">
        <a href="{% url 'home' %}" class="btn btn-outline-dark my-3 mr-5 nav-link {{hactive}}">Home</a>
        <a href="{% url 'skill' %}" class="btn btn-outline-dark my-3 mr-5 nav-link {{sactive}}">Skill</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-dark my-3 mr-5 nav-link {{cactive}}">Contact</a>
    </nav>
</div>